.footer-cont{
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.copyRight{
    display: flex;
    justify-content: center;
    align-items: center ;
    font-weight: 600;
}